<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: nav"></nav>
<h4>Pairs</h4>

<div>
<table class="table">
    <thead>
        <th scope="col">First person</th>
        <th scope="col">Second person</th>
    </thead>
    <tbody>
    <tr th:each="pair : ${pairs}">
        <td th:block th:text="${pair.getPerson1Name()}" scope="row"></td>
        <td th:block th:text="${pair.getPerson2Name()}"></td>
        <td th:block th:text="${pair.getDate()}"></td>
    </tr>
    </tbody>
</table>
</div>
<div class="col-md-4">
    <canvas id="myPieChart" height="50" width="50">

    </canvas>
</div>
<script type="text/javascript" th:src="@{js/myPieChar.js}"></script>
</body>
</html>